body{
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
	text-align: left;
	font-size: 14pt;
	line-height: 130%;
}
dt {
	float: left;
	border: solid white 1px;
	margin-right: 15px;
}
dt, dd {
	color: white;
}
dt p {
	margin: 0px;
}
table.page5{
    background : linear-gradient(45deg, rgb(74, 9, 107), rgb(16, 12, 97))!important;
    color: white;
    font-style: italic;
    border: crimson;
    text-align: center;
	font-size: 14pt;
	padding: 0.3em;
	font-weight: bold;
}
P, h1{
  text-decoration: none; 
	color: white;
	text-align:justify;
	font-style: normal;
	font-size: 26pt;
	line-height: 130%;
	margin-bottom: 40px
}
p + ul {
	font-style: normal;
	font-size: 26pt;
	color: white;
	text-align: left;
}
p + ol {
	font-style: normal;
	font-size: 26pt;
	color: white;
	text-align: right;
}
ol li{
  margin-bottom: 15px;
	padding-right: 50%;
}
ul li {
	margin-bottom: 15px;
	margin-right: 10px;
}
h1.page1{
    font-style: italic;
    text-decoration: none; 
	color: white;
	text-align: center;
	font-style: normal;
	font-size: 40pt;
	line-height: 150%;
	margin-bottom: 40px
}
a {
   color: lightcoral;
	text-decoration: none;
	transition: .3s;
}
a:hover {
	color: coral;
}
a:visited {
	color: lightgreen;
}
a:visited:hover {
	color: green;
}
.nav-bar {
	position: -webkit-sticky;
	position: sticky;
	right: 0;
	top: 0;
	width: 100%;
	background-color: black;
}
.nav-bar ul {
	display: flex;
	justify-content: space-around;
	margin: 0px;
}
#sas {
    font-size: 24px;
    text-align: center;
}